*{
    margin: auto;
}

.navbar{
    margin: 10;
    text-transform: uppercase;
    font-weight: 500;
    justify-content: space-between;
    align-content: space-between;
}
.joker{
    margin-right: 555px;
    font-weight: 900;
    font-size: xx-large;
    align-items: center;
    text-align: left;
    color: black;
    line-height: 1.5;
}
.hehe{
    font-size: larger;
    font-weight:400;
    text-align: left;
    color: black;
    margin-right: 350px;

}
.carousel-caption {
    top: 10rem;
}
.carousel-control-prev{
    display: none;
    visibility: hidden;
}

.lets{
      float:left;
      height: 50px;
      margin-top: 5px;
    }

.text{
     text-align: left;
}
.row-cols-md-4>* {
    
    padding: 51px;
}
.ho{
    font-weight: 700;
    text-align: center;
    top: 20px;
}
.par{
    font-weight: 500;
    margin: 50px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}
.text-center{
    padding-bottom: 50px;
}
.ooo{
    text-align: center;
    font-weight: 500;
}
.hhh{
    padding-top: 60px;

}
.iii{
    width: 100%;
}
.g{
    padding-bottom: 10px;
}
.jn{
    font-weight: 500;
    text-align: center;
    padding-top: 55px;
}
.work{
    padding-top: 50px;
    padding-bottom: 30px;
}
.sa{
    text-align: center;
}
/* .do{
   margin-top: 190px;
} */
.nini{
    text-align: center;
    font-weight:600;
    padding-top: 80px;
    
}
.sleep{
    text-align: center;
    font-weight: 400;
    padding: 10px;
}
.roo{
 text-align: center;
}
.realme{
    justify-content: right;
    margin-left: 75px;
    padding: 5px;
    padding-bottom: 10px;

}
.our{
    font-weight: 500;
    text-align: center;
}
.show{

 float: left;
 bottom: 50px;
 margin-left: 45%;
 margin-bottom: 20px;
   

}
.pp{
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}